#login label.error{
	font-weight: normal;
	color: #f00;
	margin-bottom: 20px;
}

.sidebar-footer{
	display: none;
}

#loader{
	display: none;
}
fieldset {
	width: 100%;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}